.just-for-you-heading {
    margin-top: 2rem;
    text-align: center;
  }
  
  .just-for-you-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    width: 95%;
    margin: 0 auto;
  }
  
  .just-for-you-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    padding: 0.5rem; 
  }
  
  .just-for-you-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .just-for-you-image {
    width: 100%;
    height: 150px; 
    object-fit: contain; 
  }
  
  .just-for-you-item p {
    text-align: center;
    margin: 0.5rem 0;
  }
  
  .shoe-price {
    font-weight: bold;
    color: #333;
  }
  
  .star-rating {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-top: 0.5rem;
}

.star-icon {
    color: gold;
}

.no-ratings {
    font-size: 0.75rem; 
    color: #888; 
    margin: 0;
}

  
  .icon-container {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.5rem;
  }
  
  /* Tablet view */
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    .just-for-you-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .just-for-you-image {
      height: 130px;
    }
  }
  
  /* Mobile view */
  @media only screen and (min-width: 280px) and (max-width: 480px) {
    .just-for-you-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .just-for-you-image {
      height: 120px; 
    }
  }
  